@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    body {
        @apply bg-[#06202a] text-gray-300;
        height: 100vh;

    }
}
#__next {
    background: #06202a;;
}

:root {
    --white: #fff;
    --active-color: #00aeb0;
}

.container {
    max-width: 1140px !important;
    margin: auto;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: var(--active-color);
    transition: background 0.4s ease;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input[type="range"] {
    height: 5px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
}

.audio-player {
    max-width: 350px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: var(--white);
}

.artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
}

.artist {
    font-weight: 300;
    margin-top: 0;
}

.audio-controls {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
    width: 35px;
    height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
    height: 40px;
    width: 40px;
}

.audio-controls path {
    fill: var(--white);
}

.color-backdrop {
    background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.color-backdrop.playing {
    animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.tracklist {
    overflow-y: auto;
    max-height: 400px;
    scroll-behavior: smooth;

}

.albumlist {
    overflow-y: auto;
    max-height: 400px;
    scroll-behavior: smooth;
}

.tracklist::-webkit-scrollbar, .albumlist::-webkit-scrollbar {
    display: none;
}

.artist-details {
    width: 90%;
    position: absolute;
    z-index: 9999;
    align-items: center;
    /* width: 100%; */
    justify-content: flex-start;
    display: flex;
    padding: 0.5em;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
    background: transparent;
}

.loadingContainer * {
    background: transparent;
}

.loadingImage {

    transition: width 2s, height 2s, transform 2s;
}

.thumbnail-audio-player {
    z-index: 99999;
    cursor: crosshair;
}
